<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Tasks</h1>

    <p><a href="/create/">Добавить задачу</a></p>

    {% for task in tasks %}
        <h2>{{ task.description }}</h2>
        <p>Статус: {{ task.get_status_display }}</p>
        {% if task.deadline_date %}
            <p>Дата выполнения: {{ task.deadline_date|date:"d.m.Y" }}</p>
        {% endif %}
        <p><a href="/delete/{{ task.id }}/">Удалить</a></p>
        <hr>
    {% empty %}
        <p>Задач пока нет.</p>
    {% endfor %}
</body>
</html>