{% extends 'base.html' %}
{% block title %}Создать задачу{% endblock %}
{% block content %}
<h1>Создание задачи</h1>

<form method="post">
    {% csrf_token %}
    <p>
        <label>Описание задачи:</label><br>
        <input type="text" placeholder="Описание задачи" name="description" required>
    </p>
    <p>
        <label>Статус:</label><br>
        <select name="status">
            <option value="new">Новая</option>
            <option value="in_progress">В процессе</option>
            <option value="done">Сделано</option>
        </select>
    </p>
    <p>
        <label>Дата выполнения:</label><br>
        <input type="date" name="deadline_date">
    </p>
    <p>
        <label>Подробное описание задачи:</label><br>
        <input type="text" placeholder="Подробное описание задачи">
    </p>
    <button type="submit">Создать</button>
</form>

{% if created_task %}
    <h2>Созданная задача:</h2>
    <p>{{ created_task.description }} — Статус: {{ created_task.get_status_display }}</p>
    {% if created_task.deadline_date %}
        <p>Дата выполнения: {{ created_task.deadline_date|date:"d.m.Y" }}</p>
    {% endif %}
    <p><a href="{% url 'index' %}">Перейти к списку задач</a></p>
{% endif %}

{% endblock %}
